# Deliverable 2. Create a Customer Travel Destinations Map.

In [59]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [60]:
# 1. Import the WeatherPy_Database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,nanortalik,GL,60.1432,-45.2371,35.33,88,99,2.24,overcast clouds
1,1,castro,BR,-24.7911,-50.0119,55.11,98,100,5.88,overcast clouds
2,2,narsaq,GL,60.9167,-46.0500,50.22,69,93,6.22,overcast clouds
3,3,yellowknife,CA,62.4560,-114.3525,0.41,57,20,8.05,few clouds
4,4,te anau,NZ,-45.4167,167.7167,61.03,60,26,0.36,scattered clouds

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [61]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
5,5,mahebourg,MU,-20.4081,57.7000,76.24,94,75,18.41,broken clouds
8,8,natal,BR,-5.7950,-35.2094,82.62,78,20,9.22,few clouds
9,9,kapaa,US,22.0752,-159.3190,80.58,76,75,18.41,broken clouds
10,10,vaini,TO,-21.2000,-175.2000,82.56,83,75,5.75,broken clouds
12,12,arraial do cabo,BR,-22.9661,-42.0278,76.86,83,75,13.80,broken clouds
13,13,amethi,IN,26.1500,81.8167,76.24,15,0,6.73,clear sky
14,14,vanimo,PG,-2.6741,141.3028,81.46,79,100,4.29,heavy intensity rain
15,15,rikitea,PF,-23.1203,-134.9692,75.09,61,27,10.65,scattered clouds
19,19,hambantota,LK,6.1241,81.1185,78.80,81,27,4.14,scattered clouds
20,20,nicoya,CR,10.1483,-85.4520,85.69,61,100,6.85,overcast clouds

In [62]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                204
City                   204
Country                204
Lat                    204
Lng                    204
Max Temp               204
Humidity               204
Cloudiness             204
Wind Speed             204
Current Description    204
dtype: int64

In [63]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df=preferred_cities_df.dropna()

In [64]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,mahebourg,MU,76.24,broken clouds,-20.4081,57.7000,
8,natal,BR,82.62,few clouds,-5.7950,-35.2094,
9,kapaa,US,80.58,broken clouds,22.0752,-159.3190,
10,vaini,TO,82.56,broken clouds,-21.2000,-175.2000,
12,arraial do cabo,BR,76.86,broken clouds,-22.9661,-42.0278,
13,amethi,IN,76.24,clear sky,26.1500,81.8167,
14,vanimo,PG,81.46,heavy intensity rain,-2.6741,141.3028,
15,rikitea,PF,75.09,scattered clouds,-23.1203,-134.9692,
19,hambantota,LK,78.80,scattered clouds,6.1241,81.1185,
20,nicoya,CR,85.69,overcast clouds,10.1483,-85.4520,

In [65]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"] 
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]    
    except: 
        pass
print("...............")
print("Finished.")
print("...............")

...............
Finished.
...............

In [66]:
hotel_df.count()

City                   204
Country                204
Max Temp               204
Current Description    204
Lat                    204
Lng                    204
Hotel Name             204
dtype: int64

In [51]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,mahebourg,MU,76.24,broken clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
8,natal,BR,82.62,few clouds,-5.7950,-35.2094,Villa Park Hotel | Natal
9,kapaa,US,80.58,broken clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
10,vaini,TO,82.56,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
12,arraial do cabo,BR,76.86,broken clouds,-22.9661,-42.0278,Pousada Porto Praia
13,amethi,IN,76.24,clear sky,26.1500,81.8167,Taj Hotel
14,vanimo,PG,81.46,heavy intensity rain,-2.6741,141.3028,Vahmoneh Lodge Vanimo
15,rikitea,PF,75.09,scattered clouds,-23.1203,-134.9692,People ThankYou
19,hambantota,LK,78.80,scattered clouds,6.1241,81.1185,Bungalow 63
20,nicoya,CR,85.69,overcast clouds,10.1483,-85.4520,Las Cabinas Del Sueño

In [67]:
hotel_df.shape[0]

204

In [78]:
# 7. Drop the rows where there is no Hotel Name.
for index, row in hotel_df.iterrows():
    if row["Hotel Name"]=="":
        hotel_df=hotel_df.drop(index)

In [79]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the hotel_df into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [80]:
hotel_df.shape[0]

192

In [81]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))